.container {
  width: 100%;
  padding: 20px;
  background-color: #e1f0fa;
}
.container .header {
  background-color: #3498db;
  color: white;
  padding: 15px;
  border-radius: 12px;
}
.container .header .nav {
  margin-top: 10px;
}
.container .header .nav ul {
  list-style: none;
  padding: 0;
}
.container .header .nav ul li {
  display: inline-block;
  margin-right: 10px;
}
.container .header .nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.container .header .nav ul li a:hover {
  color: #2ecc71;
}
.container .content {
  margin-top: 20px;
  font-size: 16px;
}
.container .content p {
  color: #196090;
}
.container .content button {
  background-color: #2ecc71;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.container .content button:hover {
  background-color: #25a25a;
}
.container .footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #3498db;
  color: white;
  text-align: center;
  border-radius: 10px;
}
